
// Fonts
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

// Variables
@import 'variables';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Frank Ruhl Libre', serif !important;
}

.card {
    border-radius: 0px !important;

    .card-img-top {
        border-radius: 0px !important;
    }
}